body {
    font-family: Arial, Helvetica;
    background: linear-gradient(45deg, black -25%, var(--colorMainGradiente) 57%);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;

    --colorMainGradiente: rgb(9, 201, 185);
    --colorHoverBoton: rgb(10, 207, 214);

    --colorBotonTarjetas: rgb(183, 255, 158);
    --colorFondoHeaderTarjeta: rgb(33, 68, 255);

    --colorFondoBotonNavegar: rgb(49, 49, 49);
    
    --colorFondoBotonBusqueda-RGB: 9, 201, 185;
    --colorFondoBotonBusqueda: rgb(var(--colorFondoBotonBusqueda-RGB));

    --colorFondoBotonNuevo-RGB: 67, 200, 20;
    --colorFondoBotonNuevo: rgb(var(--colorFondoBotonNuevo-RGB));

    /*--colorFondoInterno: white;
    --colorFondoSecundario: rgb(0, 23, 128);
    --colorFuenteTabla: white;*/
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 1.5vh;
    border-radius: 3vh;
}

.menu li {
    display: inline-block;
    text-align: auto;
    min-width: 50%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 3vh;
}

.itemMenu {
    background: black;
    text-decoration: none;
    font-size: 4.5vh;
    cursor: pointer;
    border: 3px solid white;
    border-style: inset;
    word-wrap: break-word;

    transition: all 1s;
}

.itemMenu:hover {
    background: var(--colorHoverBoton);
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--colorFuenteTabla);
}

td,
th {
    border: 2px solid black;
}

th {
    background-color: var(--colorFondoSecundario);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#tablaVacia {
    border: none;
    opacity: 0;
}

td:first-child {
    background-color: var(--colorFondoSecundario);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

}

td {
    background-color: var(--colorFondoInterno);
    color: black;
}

form {
    background-color: white;
    width: 70%;
    margin: auto;
    border: 8px inset black;
    font-size: 1.2rem;
}

button {
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#homeWrapper {
    display: grid;
    /* SE UTILIZA EL DISPLAY: GRID PARA DEFINIR UNA GRILLA EN EL BODY Y PODER SEGMENTAR LOS CONTENEDORES */
    grid-template-columns: minmax(min-content, 0.3fr) 0.7fr;
    /* SE DIFINE LA CANTIDAD DE COLUMNAS Y EL TAMAÃƒÆ’Ã¢â‚¬ËœO */
    grid-template-rows: 1fr;
    /* SE DEFINE LA CANTIDAD DE LINEAS Y EL TAMAÃƒÆ’Ã¢â‚¬ËœO */
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#navHome {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainHome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8.5vh;
    padding: 2vh;
    height: 100vh;
    color: azure;
}

#sideNav {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 10;

    height: 100vh;

    overflow: hidden;

    transition: all 1.2s;
}

.navAbierto {
    width: 30vw;
    opacity: 1;
}


.navCerrado {
    width: 0;
    opacity: 0;
}

#botonCierraNav {
    position: absolute;
    top: 2%;
    left: 78%;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 3rem;
}

#botonCierraNav:hover {
    color: var(--colorHoverBoton);
    transition: all 0.5s;
}

#botonAbreNav {
    position: fixed;
    z-index: 7;
    top: 1.7%;
    left: 3%;
    color: black;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 3rem;
    transition: all 1s;
}

#botonAbreNav:hover {
    color: white;
}

#botonHome {
    position: absolute;
    top: 2.21%;
    left: 12%;

    color: white;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 3rem;
}

#botonHome:hover {
    color: var(--colorHoverBoton);
    transition: all 0.5s;
}

#overlay {
    position: fixed;
    z-index: 9;

    width: 0vw;
    height: 0vh;

    opacity: 0;
    background-color: #000;

    transition: opacity 0.75s;
}

.botonForm {
    font-size: 1.8rem !important;
    color: white !important;
}

.botonTarjetas {
    color: black !important;
    background-color: var(--colorBotonTarjetas) !important;
    box-shadow: none !important;
}

.card-header {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
    background-color: var(--colorFondoHeaderTarjeta) !important;
    color: white !important;
}

.card {
    border-radius: 0.8rem !important;
}

.input-group-text {
    background-color: transparent !important;
    border: none !important;
}

.inputBusqueda {
    border: 1px solid black !important;
    border-right: none !important;
}

.inputBusqueda:focus-visible {
    outline: none;
}

.botonBack {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;

    background-color: var(--colorFondoBotonNavegar) !important;
}

.botonForward {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;

    background-color: var(--colorFondoBotonNavegar) !important;
}

.botonBusqueda {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-left: none !important;

    background-color: var(--colorFondoBotonBusqueda) !important;
    --bs-btn-focus-shadow-rgb: none !important;
}

.botonNuevo {
    background-color: var(--colorFondoBotonNuevo) !important;
    color: black !important;
    --bs-btn-focus-shadow-rgb: var(--colorFondoBotonNuevo-RGB) !important;
}

.container {
    width: 80% !important;
}

@media ((max-width: 769px) or (max-aspect-ratio: 11/10) ) {
    .itemMenu {
        font-size: 4vw;
    }

    #mainHome {
        font-size: 4.5vw;
    }

    #sideNav {
        z-index: 10;
    }

    .navAbierto {
        width: 100vw;
        opacity: 1;
    }

    form {
        width: 100%;
    }

    #botonAbreNav {
        top: 1%;
        z-index: 7;
        /*top: auto;
        bottom: 15%;
        left: 5%;
        background-color: var(--colorHoverBoton);
        border-radius: 20vh;
        border: 3px solid black;
        padding: 1.5vh 2vh;*/
    }

    #form {
        padding: 0;
        margin: 0;
    }
    
    .container {
        width: 90% !important;
    }

    #main h1 {
        position: sticky !important;
        z-index: 6;
        background-color: var(--colorMainGradiente);
        box-shadow: 0 0 0 8px black;
        top: 0;
        margin: 0;
    }

    .input-group {
        width: 90% !important;
        flex-direction: column;
    }

    .input-group-text {
        width: 90% !important;
    }

    .input-group-text input {
        max-width: 70%;
    }

  
}