body {
    font-family: Arial, Helvetica;
    background: linear-gradient(45deg, black 0%, var(--colorMainGradiente)  57%);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;

    --colorMainGradiente: rgb(9, 201, 185);

    --colorFondoSecundario: rgb(0, 23, 128);
    --colorFondoInterno: white;
    --colorFuenteTabla: white;
    --colorHoverBoton: rgb(10, 207, 214);
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 1.5vh;
    border-radius: 3vh;
}

.menu li {
    display: inline-block;
    text-align: auto;
    min-width: 50%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 3vh;
}

.itemMenu {
    background: black;
    text-decoration: none;
    font-size: 4.5vh;
    cursor: pointer;
    border: 3px solid white;
    border-style: inset;
    word-wrap: break-word;

    transition: all 1s;
}

.itemMenu:hover {
    background: var(--colorHoverBoton);
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

input[type=button] {
    background: black;
    color: white;
    font-size: 16px;
    width: 80%;
    margin: 5px;
    cursor: pointer;
}

input[type=button]:hover {
    background: var(--colorHoverBoton);

}

td {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--colorFuenteTabla);
}

td,
th {
    border: 2px solid black;
}

th {
    background-color: var(--colorFondoSecundario);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#tablaVacia {
    border: none;
    opacity: 0;
}

td:first-child {
    background-color: var(--colorFondoSecundario);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

}

td {
    background-color: var(--colorFondoInterno);
    color: black;
}

form {
    background-color: white;
    width: 70%;
    margin: auto;
    border: 8px inset black;
    font-size: 1.2rem;
}

button {
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#homeWrapper {
    display: grid;
    /* SE UTILIZA EL DISPLAY: GRID PARA DEFINIR UNA GRILLA EN EL BODY Y PODER SEGMENTAR LOS CONTENEDORES */
    grid-template-columns: 0.3fr 0.7fr;
    /* SE DIFINE LA CANTIDAD DE COLUMNAS Y EL TAMAÑO */
    grid-template-rows: 1fr;
    /* SE DEFINE LA CANTIDAD DE LINEAS Y EL TAMAÑO */
    margin: 0;
    height: 100vh;
}

#navHome {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainHome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8.5vh;
    padding: 2vh;
    height: 100vh;
    color: azure;
}

#sideNav {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 3;

    height: 100vh;

    overflow: hidden;

    transition: all 1.2s;
}

.navAbierto {
    width: 30vw;
    opacity: 1;
}


.navCerrado {
    width: 0;
    opacity: 0;
}

#botonCierraNav {
    position: absolute;
    top: 2%;
    left: 78%;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 3rem;
}

#botonCierraNav:hover {
    color: var(--colorHoverBoton);
    transition: all 0.5s;
}

#botonAbreNav {
    position: fixed;
    z-index: 2;
    top: 1.7%;
    left: 3%;
    color: black;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 3rem;
    transition: all 1s;
}

#botonAbreNav:hover {
    color: white;
}

#botonHome {
    position: absolute;
    top: 2.21%;
    left: 12%;

    color: white;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    font-size: 3rem;
}

#botonHome:hover {
    color: var(--colorHoverBoton);
    transition: all 0.5s;
}

#overlay {
    position: fixed;
    z-index: 1;

    width: 0vw;
    height: 0vh;

    opacity: 0;
    background-color: #000;

    transition: opacity 0.75s;
}

.botonForm {
    font-size: 1.8rem !important;
    color: white !important;
}

@media (max-aspect-ratio: 12/10) {
    .itemMenu {
        font-size: 4vw;
    }

    #mainHome {
        font-size: 5.5vw;
    }

    .navAbierto {
        width: 100vw;
        opacity: 1;
    }

    form {
        width: 100%;
    }

    #botonAbreNav {
        top: 1%;
        /*top: auto;
        bottom: 15%;
        left: 5%;
        background-color: var(--colorHoverBoton);
        border-radius: 20vh;
        border: 3px solid black;
        padding: 1.5vh 2vh;*/
    }

    #form {
        padding: 0;
        margin: 0;
    }

    #main h1 {
        position: sticky !important;
        background-color: var(--colorMainGradiente);
        box-shadow: 0 0 0 8px black;
        top: 0;
        margin: 0;
    }
}